name: Test build action

on: 
  push:
  pull_request:

jobs:
  build:
    name: gcc-9 build
    runs-on: self-hosted
    container: embeddedlinux/gcc:9-20.04

  steps:
    - uses: actions/checkout@v3

    - name: Print env
      run: |
        echo github.event.action: ${{ github.event.action }}
        echo github.event_name: ${{ github.event_name }}

    - name: Look around
      run: |
        echo "================"
        whoami
        echo "================"
        pwd
        echo "================"
        ls -al
        echo "================"
        id
        echo "================"
