name: test
on: [push]
env:
  HOME: /home/builder

jobs:
  build:
    runs-on: self-hosted
    strategy:
      matrix:
        include:
          - preset: linux-gcc-debug
            image: embeddedlinux/gcc:11-22.04
          - preset: linux-clang-debug
            image: embeddedlinux/clang:14-22.04
    name: Build ${{ matrix.preset }}
    container: ${{ matrix.image }}
    steps:
      - uses: actions/checkout@v3
      - name: Build 
        run: |
          mkdir cmake-build
          cd cmake-build
          cmake .. --preset ${{ matrix.preset }}
          make
      - uses: alehechka/upload-tartifact@v1
        with:
          name: ${{ matrix.preset }}
          path: cmake-build/actions-test

  test:
    runs-on: self-hosted
    strategy:
      matrix:
        include:
          - image: embeddedlinux/gcc:11-22.04
            preset: linux-gcc-debug
          - image: embeddedlinux/clang:14-22.04
            preset: linux-clang-debug
    name: Test ${{ matrix.preset }}
    container: ${{ matrix.image }}
    needs: build
    steps:
      - uses: alehechka/download-tartifact@v1
        with:
          name: ${{ matrix.preset }}
      - name: Run test
        run: |
          cd cmake-build
          ./actions-test
