name: test
on: [push]
env:
  HOME: /home/builder

jobs:
  build:
    runs-on: self-hosted
    strategy:
      matrix:
        include:
          - preset: linux-gcc-debug
            image: embeddedlinux/gcc:11-22.04
          - preset: linux-clang-debug
            image: embeddedlinux/clang:14-22.04
    name: Build ${{ matrix.preset }}
    container: ${{ matrix.image }}
    steps:
      - uses: actions/checkout@v3
      - name: Build 
        run: |
          mkdir cmake-build-${{ matrix.preset }} && cd "$_"
          cmake .. --preset ${{ matrix.preset }}
          make
      - uses: alehechka/upload-tartifact@v1
        with:
          name: ${{ matrix.preset }}
          path: cmake-build-${{ matrix.preset }}/actions-test
